@font-face {
  font-family: GothamLight;
  src: url(../fonts/Gotham-Light.otf) format("opentype");
}
@font-face {
  font-family: GothamBook;
  src: url(../fonts/Gotham-Book.otf) format("opentype");
}

html, body {
	position: relative;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

.header {
	position: absolute;
	top: 45px;
	right: 0;
	left: 0;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	font-family: GothamBook;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
	.header {
		justify-content: space-between;
	}
}

.header .contacts {
	margin-bottom: 0;
	display: none;
}

@media screen and (min-width: 1024px) {
	.header .contacts {
		display: block;
	}
}

.header .contacts .email__link {
	font-size: 14px;
	text-decoration: none;
	margin-right: 30px;
}

.header .contacts .email__link:hover {
	opacity: 0.8;
}

.header .contacts .phone__link {
	opacity: 1;
	font-size: 14px;
	text-decoration: none;
}

.header .contacts .phone__link:hover {
	opacity: 0.8;
}

.nav {
	display: none;
}

@media screen and (min-width: 1024px) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav .social {
	margin-bottom: 0;
}

.nav .social__item {
	margin: 0 30px 0 0;
}

.nav__link {
	color: #fff;
	text-decoration: none;
}

.nav__link:hover {
	opacity: 0.8;
}
.logo {
	text-align: center;
}

.logo p {
	margin-bottom: 5px;
	font-size: 22px;
	color: #fff;
}

.logo span {
	font-size: 14px;
	opacity: 0.6;
}

.wrapper {
	font-family: GothamBook;
	color: #fff;
	background: #294d09 url(../images/background.jpg) no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}

.background__portrait, .background__landscape {
	display: none;
}

.text-block {
	float: right;
	width: 40%;
	margin: 14% 11% 0;
	line-height: 1.9em;
}

.description__header {
	font-family: GothamLight;
	font-size: 3.75em;
	margin-bottom: 32px;
}

.about-me {
	font-size: 1.6em;
	margin-bottom: 15px;
	font-weight: normal;
}

.skills {
	font-size: 1.25em;
	opacity: 0.6;
	margin-bottom: 40px;
}

.social {
	margin-bottom: 10px;
}

.social__item {
	float: left;
	margin: 0 8% 0 -10px;
}

.social svg {
	fill: #fff;
	padding: 10px;
}

.social svg:hover {
	transform: scale(1.1);
	transition: 0.2s;
}

.social svg#facebook {
	width: 12px;
	height: 22px;
}

.social svg#instagram {
	width: 22px;
	height: 21px;
}

.social svg#vkontakte {
	width: 26px;
	height: 19px;
}

/* IF THERE WILL BE

.social svg#twitter {
	width: 23px;
	height: 19px;
}

.social svg#google {
	width: 24px;
	height: 24px;
}

.social svg#linkedin {
	width: 22px;
	height: 22px;
}

.social svg#pinterest {
	width: 23px;
	height: 31px;
}
*/
.contacts {
	margin-bottom: 13px;
}

.contacts__email {
	margin-bottom: 15px;
}

.email__link {
	color: #fff;
	font-size: 1.25em;
}

.phone__link {
	opacity: 0.6;
	font-size: 1.25em;
	color: #fff;
}


/*RESPONSIVE CSS*/

@media screen and (orientation:portrait) {
	.text-block {
		float: left;
		margin: 20% 5% 0;
	}
}

@media screen and (max-width: 1024px) {
	.social-block__item:nth-child(4n+4) {
		clear: left;
	}

	.social-block__item {
		margin-top: 10%;
	}

	.skills {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1024px) and (orientation:landscape) {
	.text-block {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 736px) and (orientation:landscape) {
	.background__portrait {
		display: none;
	}

	.background__landscape {
		display: block;
	}

	.background__landscape {
		max-width: 100%;
		height: auto;
		z-index: -10;
	}

	.text-block {
		margin: 14% 5% 0;
	}
}

@media screen and (max-width: 736px) and (orientation:portrait) {
	.background__landscape {
		display: none;
	}

	.background__portrait {
		display: block;
	}

	.background__portrait {
		max-width: 100%;
		height: auto;
		z-index: -10;
	}
	.text-block {
		margin: 20% 7% 0;
	}
}

@media screen and (max-width: 736px) {
	.wrapper {
		z-index: 20;
		background: linear-gradient(rgba(41, 77, 9, 0) 0px, rgba(41, 77, 9, 1) 200px);	
		position: relative;
		margin-top: -200px;
	}

	.text-block {
		float: left;
		line-height: 2.0em;
		width: auto;
		margin-bottom: 50px;
	}
}

.slick-slide img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex !important;
	justify-content: center;
}

.slick-dots li {
	position: relative;
	padding: 20px 7px;
	cursor: pointer;
}

@media screen and (min-width: 550px) {
	.slick-dots li {
		position: relative;
		padding: 20px 15px;
		cursor: pointer;
	}
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 5px;
	height: 5px;
	padding: 3px;
	cursor: pointer;
	color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	outline: none;
	background: transparent;
}

li.slick-active > button {
	background: #fff;
}

.link a {
	font-family: GothamBook;
	color: #fff;
}
